<!-- <h1>Listing Posts</h1>
<%#= link_to 'New post', new_post_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <%# @posts.each do |post| %>
    <tr>
      <td><%#= post.title %></td>
      <td><%#= post.text %></td>
    </tr>
  <%# end %>
</table> -->

<h2>Posts <%= link_to "(+)", new_post_path %></h2>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post %></li>
  <% end %>
</ul>
