<h1>Posts</h1>
<%#= link_to 'New post', new_post_path %>
<table>
  <% @posts.each do |post| %>
    <tr>
      <td><h3><%= post.title %></h3></td>
    </tr>
    <tr>
      <td><%= post.author %></td>
    </tr>
    <tr>
      <td><%= link_to 'view', post %></td>
    </tr>
  <% end %>
</table>
